<section id="bothend">
	<%= form_for @level do |f| %>
		<%= f.label :name, "Level Name :" %>
	  	<%= f.text_field :name , :class => "in_text" , :placeholder => "level name" %>
	  	<br>
	  	<%= fields_for @subs do |u| %>
			<%= u.label :name, "Subjects Name :" %>
		  	<%= u.text_area :name ,  size: "24x6" , :placeholder => "Subjects name" %>
		<% end %>
		<%= f.submit "Create" %>
	<% end %>
</section>