<!DOCTYPE html>
<html>
<head>
  <title>Uei</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= 
	if flash[:notice]
		flash[:notice]
	end
%>
<% if logged_in? %>
	<section id="navi">
		<ul>
			<li><%= link_to "Dashboard", "/dashboard" %></li>
		</ul>
	</section>
<% end %>
<%= yield %>

</body>
</html>
